@charset "utf-8";

/*
 * Black Han Sans
 */
@font-face {
  font-family: 'Black Han Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../font/BlackHanSans-Regular.eot);
  src: url(../font/BlackHanSans-Regular.eot?#iefix) format('embedded-opentype'),
       url(../font/BlackHanSans-Regular.woff2) format('woff2'),
       url(../font/BlackHanSans-Regular.woff) format('woff'),
       url(../font/BlackHanSans-Regular.ttf) format('truetype');
}
