@charset "utf-8";

/*
 * Sunflower
 */
@font-face {
  font-family: 'Sunflower';
  font-style: normal;
  font-weight: 300;
  src: url(../font/Sunflower-Light.eot);
  src: url(../font/Sunflower-Light.eot?#iefix) format('embedded-opentype'),
       url(../font/Sunflower-Light.woff2) format('woff2'),
       url(../font/Sunflower-Light.woff) format('woff'),
       url(../font/Sunflower-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Sunflower';
  font-style: normal;
  font-weight: 500;
  src: url(../font/Sunflower-Medium.eot);
  src: url(../font/Sunflower-Medium.eot?#iefix) format('embedded-opentype'),
       url(../font/Sunflower-Medium.woff2) format('woff2'),
       url(../font/Sunflower-Medium.woff) format('woff'),
       url(../font/Sunflower-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Sunflower';
  font-style: normal;
  font-weight: 700;
  src: url(../font/Sunflower-Bold.eot);
  src: url(../font/Sunflower-Bold.eot?#iefix) format('embedded-opentype'),
       url(../font/Sunflower-Bold.woff2) format('woff2'),
       url(../font/Sunflower-Bold.woff) format('woff'),
       url(../font/Sunflower-Bold.ttf) format('truetype');
}
